.feedback-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;

    .li {
        padding: 5px;
        font-size: 24px;
        font-weight: 400;
    }
    
}